.admintitle{
    background-color: crimson;
    color:yellow;
    margin-left:100px;
    margin-right: 100px;
    height:140px;
    50px;
    font-size: 30px;
    line-height: 150px;
    
    
}
.dash{
    background-color: turquoise;
    margin-left: 100px;
    margin-right: 100px;
    height: 140px;
    font-size: 50px;
}